@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

/* Basic reset */
* {
   margin:0;
   padding: 0;
   font-family: roboto;
   box-sizing: border-box ;
}


html {
	background: #50586C;
}
.calc{
   text-align: center;
   font-size: 2.5rem;
   margin-top: 20px;
   color: #F5D042;
}

#calculator {
	width: 327px;
	height: auto;
	margin: 60px auto;
   background: #DCE2F0;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: #240303 1px 1px 3px;

}

.top  span.clear{
	float: left;
}

.top .screen {
  height:90px;
	width: 100%;
	padding: 0 10px;
	background: rgba(154, 185, 188, 0.8);
   border-radius: 15px;
  margin-bottom:10px;
	font-size: 30px;
	line-height: 90px;
	color: rgb(30, 28, 28);
	text-align: right;
  overflow:auto;
  box-shadow: #240303 1px 1px 3px;
}

.keys  {
  overflow: hidden;
}


.keys span, .top span.clear {
	float: left;
	font-size:27px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin: 0 15px 11px 0;
	color: #240303;
	line-height: 60px;
	text-align: center;
   border-radius: 15px;

}

.keys span.operator {
   border: 1px solid black;
   border-radius: 15px;
   color: #9196ae;
	margin-right: 0;
	background: #1E4174;
}

.keys span.eval {
	background: #1a285e;
	color: #ffffff;
  width: 210px;
}

span.clear {
   background: #1a285e;
	color: #ffffff;
   margin-right: 0;
}


.keys span:hover {
	background: #26205d;
	color: white;
}

.keys span.eval:hover {
	background: #231669;
	/* box-shadow: 0px 4px #d65f3d; */
	color: #ffffff;
   
}

.keys span.operator:hover {
	background: #2f2b6b;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	/* box-shadow: 0px 4px #d3545d; */
	color: white;
}

footer{
   text-align: center;
   font-size: 1rem;
   color:#F5D042;
   margin:20px 0px;
}
